<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Votre titre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tasoeur-pr-25oct2023.css') }}">
</head>
<body>


    <header>
        <h1>Accueil</h1>
        <nav>
            <ul>
                <li><a href="/">Accueil</li>
                <li><a href="/357magnum">357magnum</a></li>
                <li><a href="/fusil a pompe">fusil a pompe</a></li>
                <li><a href="/ak 47">ak 47</a></li>
                <li><a href="/contact">contact</a></li>

            </ul>
        </nav>
    </header>


    <main>
        <h2>Nous contacter</h2>
        <p>Informations de contact et formulaire...</p>
    </main>

    
    
    
    
  <footer>
    <p>&copy;  Boutique en Ligne</p>
  </footer>
</body>
</html>

